body {
    background: #9C835F;
}

.container h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #F9B23D;
}

.area-bermain {
    display: flex;
    flex-direction: row;
}

li {
    display: block;
}

li img {
    width: 130px;
    height: 130px;
    display: block;
    margin: 20px 0px;
    padding: 20px;
}

.player {
    margin: 0px 80px;
}

.com {
    margin: 0px 80px;
}

.player h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

#info h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 120px !important;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
    width: 230px;
}

.com h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}

.batu {
    margin-top: 3rem;
}

.gunting {
    margin-bottom: 0px;
}

#player-batu:hover{
    background: #C4C4C4;
    border-radius: 30px;
}

#player-kertas:hover{
    background: #C4C4C4;
    border-radius: 30px;
}

#player-gunting:hover{
    background: #C4C4C4;
    border-radius: 30px;
}

.bg-selected {
    background: #C4C4C4;
    border-radius: 30px;
}

.hasil-game {
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 20px;
    width: 230px;
}

.draw {
    background: #035B0C !important;
}

.refresh:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.5)
}


/* MOBILE VERSION */
@media (max-width : 1200px) {
    .container h1 {
        font-size: 20px !important;
    }

    #info h1 {
        font-size: 60px !important;
        width: 30px !important;
    }

    .player {
        margin: 0px 50px !important;
    }

    .com {
        margin: 0px 50px !important;
    }

    .container .judul {
        position: relative;
        left: 0px !important;
    }

}
