/* Hero */
.acsent1-img {
  z-index: 1;
}

.acsent2-img {
  z-index: 1;
}

.hero {
  background-color: #5956e9;
  height: 100vh;
  /* min-height: 900px; */
  width: 100%;
}

.hero-tagline h1 {
  font-family: var(--alef);
  font-weight: 700 !important;
  font-size: 92px !important;
  color: #fff;
}

.hero button.btn-lg-primary {
  font-family: var(--martel);
  width: 172px;
  height: 80px;
  background: #f4d25b;
  border-radius: 20px;
  border: none;
  color: #5856e7;
  margin-top: 50px;
}
