:root {
  --martel: "Martel", serif;
  --alef: "Alef", sans-serif;
}

body {
  background-color: #5956e9 !important;
}

* {
  z-index: 2;
}

.navbar {
  font-family: var(--martel);
  /* background-color: #5956e9; */
  z-index: 3;
}

.nav a {
  font-size: 18px;
  color: #fff;
}

.button-login,
.btn-register {
  font-family: var(--martel);
  font-size: 14px !important;
  background-color: #fff !important;
  padding: 10px 27px !important;
  border-radius: 20px !important;
  color: #5856e7 !important;
  border: none !important;
}
