.wrapper {
    margin-top: 3%;
}

img {
    padding-top: 1.5%;
}

img {
    margin-right: 5%;
}

p {
    font-size: large;
    font-weight: 800;
}

.d-flex {
    width: 70%;
    margin-left: 25%;
}

.container button {
    margin-top: 415px;
    width: 70%;
    align-items: center;
    margin-left: -45%;
}

.card-body {
    background-color: #EDF2FB;
    height: 200px;
}

body {
    background-color: white !important;
}

