:root {
  --martel: "Martel", serif;
  --alef: "Alef", sans-serif;
}

/* body {
  background-color: #5956e9;
} */

* {
  z-index: 2;
}

.navbar {
  font-family: var(--martel);
  /* background-color: #5956e9; */
  z-index: 3;
}

.nav a {
  font-size: 18px;
  color: #fff;
}

.btn-login,
.btn-register {
  font-family: var(--martel);
  font-size: 14px;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  color: #5856e7;
  border: none;
}
